<div class="text-center body-div" style="">
    <form [formGroup]="form" class="form-signin" (ngSubmit)="submitLoginForm()">
      <h3 class="mb-3 font-weight-normal">Please sign in</h3>
      <label for="inputEmail" class="sr-only">Email</label>
      <input type="text" class="form-control" id="inputEmail" [formControlName]="'email'" placeholder="Email" autofocus autocomplete="off"/>
      <label for="inputPassword" class="sr-only">Email</label>
      <input type="password" class="form-control" id="inputPassword" [formControlName]="'password'" placeholder="Password" autocomplete="off"/>
        <p *ngIf="failedLogin" class="h6 mb-3 text-muted" style="font-size: 14px; color: crimson; border: 1px crimson;">Login details are incorrect. Please try again.</p>
  
      <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="form.invalid">Submit</button>
      <br>
      <p class="h6 mt-2 mb-3 text-muted" style="font-size: 14px">Default admin login:</p>
      <p class="h6 mt-2 mb-3 text-muted" style="font-size: 12px">Email: pablo</p>
      <p class="h6 mt-2 mb-3 text-muted" style="font-size: 12px">Password: pablo</p>
      <br>
      <p class="h6 mt-2 mb-3 text-muted" style="font-size: 14px">Default user login:</p>
      <p class="h6 mt-2 mb-3 text-muted" style="font-size: 12px">Email: pablo2</p>
      <p class="h6 mt-2 mb-3 text-muted" style="font-size: 12px">Password: pablo</p>
    </form>
  
  </div>